

.about{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;
}
body{
    margin: 0px;
    background-color: #0000ff;
    border: solid;
    border-radius: 10px;
}
h1{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:#ffffff;
}
.picture1{
    display: flex;
    border: solid;
    padding: 30px;
    margin: 10px;
    width: 800px;
    height: 180px;
    background-color:#00ffff; 
}
.picture2{
    display: flex;
    border: solid;
    padding: 30px;
    margin: 10px;
    width: 800px;
    height: 180px;
background-color: #ff69b4;
}
.picture3{
    display: flex;
    border: solid;
    padding: 30px;
    margin: 10px;
    width: 800px;
    height: 180px;
    background-color: #ba55d3;
}
.picture4{
    display: flex;
    border: solid;
    padding: 30px;
    margin: 10px;
    width: 800px;
    height: 180px;
    background-color: #ffa500;
}
.picture5{
    display: flex;
    border: solid;
    padding: 30px;
    margin: 20px;
    width: 800px;
    height: 180px;
    background-color: #6495ed; 
}
.picture6{
    display: flex;
    border: solid;
    padding: 30px;
    margin: 20px;
    width: 800px;
    height: 180px;
    background-color: #ba55d3;
}